.learning-headsection{
    background-color:blueviolet ;
    padding: 20px 0px;
}
.learning-headsection h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 56px;
    
    color: #F1E7FF;
}
.tabs-section{
  width: 100%;
  margin-top: -10px;
  z-index: 1000;
  align-items: end
};
.tabsSection TabList{
    width: 1000px;
}
    .tabsSection TabList tab{
    
    display: flex !important;
    justify-content: center !important;
}
.css-1gsv261 {
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
   
}
.css-1ujnqem-MuiTabs-root{
    width: 100%;
}
/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    color: #fff !important;
} */

.css-heg063-MuiTabs-flexContainer {
display: flex;
justify-content: center;
width: auto;
}
.css-1aquho2-MuiTabs-indicator{
    background:none !important;
    text-decoration: none;
    width: 33% !important;
    left: 0 !important;
    position: relative !important;width: auto;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    width: 230px !important;
}
.MuiButtonBase-root {
    text-transform: capitalize !important;
    font-size: 16px !important;
}
.wrap {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px !important;
    justify-content: left;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
  }
  .wrap .item img{
    height: 60px;
    width: 60px;padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 15px;
  }
  .wrap .item:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to bottom, #2b0e48 0%, #a83fcb 100%);
  }
  .wrap .item:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to bottom, #2b0e48 0%, #a83fcb 100%);
  }
  .item {
    height: 200px;
    background: linear-gradient(to bottom, #3e007a 0%, #9f03d3 100%);
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    width: 100%;
  }
  .custom-textarea{
    width: 100%;
  }
  @media screen and (min-width:860px) {
    .wrap{
        width: 800px;
    }
   .wrap .item{
        width: 30%;
        margin: 10px;
    }
    .post-sec{
        width: 800px;
      }
      .tabs-section{
        width: 100%;
        margin-top: -50px;
      }
  }
 
  
.post-sec{
    justify-content: left;
    margin: 0 auto;
    border: 3px solid #949495;
    margin-top: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 50px;
    text-align: center;
}
.custom-textarea{
    padding: 15px;
    margin: 15px 0px;
}
.course-scrolsection{
    background-color: #e2e2e2 ;
    padding: 30px;
    margin: 50px 0px;
    border: 3px solid #c0c0c0
}
.course-scrolsection h4{
    color: #3e007a;
} 

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


.footer {
    background: #3e007a;
    padding-top: 40px;
    padding-bottom: 20px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer{}
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h5 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}
.single_footer h5::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 15px;
}
.single_footer p{color:#fff;}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}
.single_footer ul li a:hover { color: #ff3666; }

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}
.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
    color:#ff3666;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;margin-bottom: 20px;}
.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
    width:40px;
    height:40px;
    line-height:40px;
}
}
.social_profile ul li a:hover{
background:#ff3666;
border: 1px solid #ff3666;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 20px;
    padding-top: 30px;
    color:#fff;
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.copyright a{color:#ffffff;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#29006b;}