.theme-color{
  color: #2e006b;
}
.theme-second-color{
  color: #746283;
}
.register-photo .image-holder {
    background: url('../../assets/images/register-background.png');
    background-size: 100%;
    background-color: #2e006b;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    height: auto;
  }
  @media screen and (min-width:900px) {
    .register-photo .image-holder {
        height: 700px;
    }
  }
    
  .register-photo .image-holder h2{
    font-size:65px;
    color:#fff;
    text-align:center;
    margin-top:30px;
    font-weight: bold;
    line-height: 80px;
    text-align: left;
  } 
  
  .register-photo .form-container {
    max-width: 980px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo .right-section {
    background-color: #ffffff;
    padding: 40px 30px;
    color: #505e6c;
    text-align: centers;
  }
  p.text-danger{
    text-align: left !important;
  }

  
  @media (min-width:991px) {
    .register-photo .right-section {
      padding: 40px;
    }
    .register-photo {
      padding: 20px 0;
    }
  }
  .register-photo .right-section h4 {
    font-size: 24px;
    line-height: 1.5;
    color: #2e006b;
  }
  .register-photo .right-section p{
    color: #2e006b;
  }
  .register-photo .right-section .form-group{
    margin-bottom: 30px;
  }
  .register-photo .right-section .form-control {
    background: transparent;
    border: 1px solid #897fa1;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    font-size: 12px;
    color: #2e006b;
    margin-bottom: 10px;
  }
  
  .register-photo .right-section .form-check {
    font-size: 13px;
    line-height: 20px;
  }
  
  .register-photo .right-section .btn-block {
    background: #2e006b;
    border: none;
    border-radius: 10px;
    padding: 11px;
    box-shadow: none;
    margin-top: 5px;
    text-shadow: none;
    outline: none !important;
    color: #fff;
    width: 100%;
  }
  
  .register-photo .right-section .btn-primary:hover, .register-photo .right-section .btn-primary:active {
    background: #2e006b;
  }
  
  .register-photo .right-section .btn-primary:active {
    transform: translateY(1px);
  }
  
  .register-photo .right-section .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }





  .wrapper {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px 0;
    background-color: #ecfff3;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 10px 15px -12px #333333, -3px 0px 15px -12px #333333;
}

.tab-content {
    padding: 10px 20px;
}
.nav-tabs a {
    border: 0!important;
    background-color: transparent!important;
}
.nav-tabs li.active {
    border-bottom: 2px solid #5453d2;
}
.nav-tabs li {
    border-bottom: 2px solid transparent;
}
.nav-tabs li a {
    width: 100%;
    text-align: center;
}
ul.nav.nav-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
.nav-tabs li {
    flex-basis: 90px;
    min-width: 90px;
    display: flex;
    align-items: flex-start;
    margin: 0!important;
}
.tabs-wrapper{
	position: relative;
}

.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: #fff; padding: 1em;color: #333333;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #2e006b !important;
    width: 50%;
}
.css-1aquho2-MuiTabs-indicator{
    background-color: #2e006b !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  border-bottom: 2px solid;
}
.p-relative{
  position: relative;
}
.viewpsw{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}